<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup_s.css') }}" /> 
</head>
<body>
    <div class="container">
        <!-- Sign Up -->
        <h2>Create An Account</h2>
        <div class="signup">
          <form action="/signup" class="form" id="form1" method='POST'>
            <div class="input-container">
            <input name='email'  type="email" placeholder="Email" class="input" />
            </div>

            <div class="input-container">
            <input name='password' type="password" placeholder="Password" class="input" />
            </div>

            <div class="input-container">
            <input name='phone' type="text" placeholder="Phone Number" class="input" />
            </div>

            <button class="btn" type="submit">Sign Up</button>
          </form>
        </div>
    </div>
</body>
</html>